/* grid styles ------------------------------------ */
@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .info1 {
     grid-column: span 4;
     grid-row: span 1;
  }
  
  .info2 {
    grid-column: span 3;
  }
  
  .serviceNow {
    grid-column: span 4;
    grid-row: span 2;
  }
  .avanadeHub {
    grid-column: span 3;
  }
  .newAvanadeHub {
    grid-column: span 4;
  }
  .lobbyApp {
    grid-column: span 3;
  }
}

/* flex styles -------------------------------------- */
.logo {
  margin-left: 1em;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 25%;
}

/* generic styles ----------------------------------- */
body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
 padding: 10px;
 background-color: #002651;

}

.logo-img {
  margin-left: 3em;
  height: 30px;
}



.img {
  display: block;
  width: 100%;
  object-fit: cover;
  max-width: 25%;
  padding: 0 4px;

  ;
}

.info1, .info2 {
  padding: 40px;
  background-color: rgb(236, 236, 236);
  color: rgb(1, 1, 2);
  line-height: 1.5em;
}


p {
  margin-bottom: 1em;
}

.info-link {
  text-decoration: none;
  color: #ff5972;
  margin-left: 5em;

}

h1 {
  font-family: 'Segoe UI';
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2em;
  color: #E69BF9;
  margin-left: 1em;
  margin-top: -1.4em;
}

h2 {
  font-size: 2em;
  margin-bottom: .3em;
  color: #ff304f;
}


h3 {
    font-family: 'Segoe UI';
    text-transform: uppercase;
    font-size: 1em;
    color: #ff5972;
    margin-left: 1em;

}